body{
    background-color: black;
    position: relative;
    overflow: hidden;
}

h1{
    color: white;
    position: relative;
    left: 45%;
    font: {
        family: arial;
    }
}

$button-hover-color: black;
$button-hover-background: white;

a{
    display: inline-block;
    position: relative;
    left: 350px;
    top: 225px;
    text-decoration: none;
    border: 5px solid white;
    padding: 15px;
    color: white;
    transition: all 1s;
    font: {
        weight: bold;
        family: arial;
    }
    &:hover{
        background-color: $button-hover-background;
        color: $button-hover-color;
    }
}

.button2{
    &:hover{
        transform: scale(1.5);
    }
}

.button3{
    &:hover{
        transform: translateX(150px);
    }
}